<br>
<p>Inside Employee Component.</p>

  <div>
    <h2>Employee List</h2>
    <table mat-table [dataSource]="employees" class="mat-elevation-z8">
      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef> Emp ID </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
      
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> Project Status </th>
        <td mat-cell *matCellDef="let element"> {{element.project}} </td>
      </ng-container>
      
      <ng-container matColumnDef="ssn">
        <th mat-header-cell *matHeaderCellDef> SSN </th>
        <td mat-cell *matCellDef="let element"> {{element.ssn}} </td>
      </ng-container>
      
      <ng-container matColumnDef="joinDate">
        <th mat-header-cell *matHeaderCellDef>Employee Join Date </th>
        <td mat-cell *matCellDef="let element"> {{element.joinDate}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Visa Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>
  <br>
  <button type="submit" mat-raised-button color="primary" (click)="getAllEmployees1()">getAllEmployees</button>
  <br>
     <!-- <table border="1">

  <thead>
    <th *ngFor="let column of columns">
      {{column}}
    </th>
  </thead>

  <tbody>
    <tr *ngFor="let row of employees; index as i">
      <td *ngFor="let column of columns; index as j">
        {{row[column]}}
      </td>
    </tr>
  </tbody>

</table> -->

<br>
<mat-form-field class="example-full-width">
  <mat-label>Employee ID</mat-label>
  <input matInput placeholder="0" type="number" [(ngModel)]="empId">
</mat-form-field>
<br>
<button type="submit" mat-raised-button color="primary" (click)="getEmployeesById()">Get Employee For given ID</button>

  <div>
    <br>
    <h2>Employee Data</h2>
    <table border="1">
    <thead>
      <th *ngFor="let column of columns">
        {{column}}
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          {{empById}}
        </td>
        <td>
          {{empByFname}}
        </td>
        <td>
          {{empByLname}}
        </td>
        <td>
          {{empByAddress}}
        </td>
        <td>
          {{empByProject}}
        </td>
        <td>
          {{empBySSN}}
        </td>
        <td>
          {{empByJDate}}
        </td>
        <td>
          {{empByStatus}}
        </td>
      </tr>
    </tbody>
    </table>
  </div>
<br>

  <input name = "EmpName" type="text" [(ngModel)]="empName" class="form-control" placeholder="EmployeeId">
  <br>
  <br>
  <!-- <button type="submit" class="btn btn-login float-center" (click)="getEmployeesByName()">getEmployeeByName</button> -->
  <button type="submit" mat-raised-button color="primary" (click)="getEmployeesByName()">getEmployeeByName</button>
  <div>
    <br>
    <h2>Employee Data By Name</h2>
    <table border="1">
    <thead>
      <th *ngFor="let column of columns">
        {{column}}
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          {{empByNameId}}
        </td>
        <td>
          {{empByNameFname}}
        </td>
        <td>
          {{empByNameLname}}
        </td>
        <td>
          {{empByNameAddress}}
        </td>
        <td>
          {{empByNameProject}}
        </td>
        <td>
          {{empByNameSSN}}
        </td>
        <td>
          {{empByNameJDate}}
        </td>
        <td>
          {{empByNameStatus}}
        </td>
      </tr>
    </tbody>
    </table>
  </div>

  <br>

  