
    <mat-toolbar color="primary">
      <div class="navbar-logo">
        <img src="assets/HP-logo.png" alt="My App Logo" />
        
      </div>
         
      
      <!-- <span>HP Infosystems</span> -->
      <div class="spacer"></div>
       <a mat-button type="submit" routerLink="/" >Home</a>
       <a mat-button type="submit" routerLink="/product">Products</a>
       <!-- <button mat-button [matMenuTriggerFor]="menu">Product</button> -->
       <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item></button>
        <button mat-menu-item>Item 2</button>
      </mat-menu> -->
       <a mat-button type="submit" routerLink="/about">Services</a>
       <a mat-button type="submit" routerLink="/about">About</a>
       <a mat-button type="submit" routerLink="/contact">Contact</a>
       
       <div *ngIf="getLogin()">
        <button mat-button type="submit" class="btn btn-login float-left" routerLink="/register">Register</button>
        <button mat-button type="submit" class="btn btn-login float-left" routerLink="/login">
          Login
        </button>
        </div>
        <div *ngIf="!getLogin()">
          <button mat-button type="submit" class="btn btn-login float-center" (click)="logout()">Logout</button>
      </div>
    </mat-toolbar>