<section class="page_404">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 mt-5">
          <div class="col-sm-offset-1 text-center" *ngFor="let error of errorStatus">
            <h1 class="text-center" style="text-align: center;">{{ error.statusMsg }}</h1>
            <div class="four_zero_four_bg" style="background-image: url({{error.statusImg}})">
              <h1 class="text-center" style="text-align: center;">{{ error.statusCode }}</h1>
            </div>
            <div class="contant_box" *ngFor="let error of errorStatus">
              <h3>{{error.content }}</h3>
              <a routerLink="" (click)="goBack()" class="link">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Go to Home
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>