.four_zero_four_bg {
    height: 400px;
    background-position: center;
  }
  
  .four_zero_four_bg h1 {
    font-size: 80px;
    color: #d4af37;
  }
  
  .four_zero_four_bg h3 {
    font-size: 80px;
  }
  
  .link {
    color: #fff !important;
    padding: 10px 20px;
    background: #d4af37;
    margin: 20px 0;
    display: inline-block;
  }
  
  .contant_box {
    margin-top: -50px;
    text-align: center;
  }