<mat-sidenav-container autosize>
    <mat-sidenav [opened]="true" mode="side">
      <mat-nav-list>
        <div *ngIf="isLoggedIn">
          <a mat-list-item >
            <span class="entry">
              <mat-icon>account_circle</mat-icon>
              <span>Profile</span>
            </span>
          </a>
          <a mat-list-item  routerLink= "/registerEmployee">
              <span class="entry">
                <mat-icon>person_add</mat-icon>
                <span>New Registration</span>
              </span>
          </a>
          <a mat-list-item  routerLink= "/getAllEmployees">
            <span class="entry">
              <mat-icon>group</mat-icon>
              <span>Employees</span>
            </span>
          </a>
          <a mat-list-item  routerLink= "/product">
            <span class="entry">
              <mat-icon>folder</mat-icon>
              <span>Projects</span>
            </span>
          </a>
          <a mat-list-item  routerLink= "/">
            <span class="entry">
              <mat-icon>event</mat-icon>
              <span>Timesheet</span>
            </span>
          </a>
          <a mat-list-item  routerLink= "/">
            <span class="entry">
              <mat-icon>house</mat-icon>
              <span>Billing</span>
            </span>
          </a>
          <a mat-list-item  routerLink= "/">
            <span class="entry">
              <mat-icon>person</mat-icon>
              <span>Designation</span>
            </span>
          </a>
          <a mat-list-item  routerLink= "/">
            <span class="entry">
              <mat-icon>people_outline</mat-icon>
              <span>Vendors</span>
            </span>
          </a>
          <a mat-list-item  routerLink= "/">
            <span class="entry">
              <mat-icon>widgets</mat-icon>
              <span>Expenses</span>
            </span>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="padding: 2%; text-align: center;"> 
            <p>Hello {{ name }}! Welcome to HP Infosystem</p>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>